@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: rgb(245, 229, 248);
    width: 100vw;
    width: 100dvw;
    overflow-x: hidden;
    /* font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }